{{ define "main" }}
<main class="main list" role="main">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/mine.css">
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
	{{ $mainPages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
	{{ $recent := first 5 $mainPages }}
	{{- if $recent }}
	<div class="slick-slider home-slider">
		{{- range $recent }}
		{{- $title := replace .Title "---" "—" }}
		<a class="home-slide" href="{{ .RelPermalink }}" rel="bookmark" aria-label="{{ $title }}">
			{{- if .Params.thumbnail }}
			<img class="home-slide__img" src="{{ .Params.thumbnail | relURL }}" alt="{{ $title }}" />
			{{- end }}
			<div class="home-slide__text">
				<h2 class="home-slide__title"><span>{{ $title }}</span></h2>
				{{- if .Params.lead }}
				<p class="home-slide__description"><span>{{ .Params.lead }}</span></p>
				{{- end }}
			</div>
		</a>
		{{- end }}
	</div>
	{{- else if not .Content }}
		<div class="warning">
			{{ partial "svg/files.svg" (dict "class" "warning__icon") }}
			<h3 class="warning__headline">{{ T "noposts_warning_title" | safeHTML }}</h3>
			<div class="warning__text">
				<p class="warning__description">{{ T "noposts_warning_description" | safeHTML }}</p>
				<p class="warning__tip">{{ T "noposts_warning_tip" | safeHTML }}</p>
			</div>
		</div>
	{{ end }}
</main>
{{ end }}
