
<article class="list__item post">
  {{- if .Params.thumbnail }}
  <figure class="list__thumbnail">
    <a style="pointer-events: none; cursor: default;" href="{{ .Permalink }}">
      <img style="max-width: 115px" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
    </a>
  </figure>
  {{- end }}
  <header class="list__header">
    <h4 class="list__title post__title ">
      <a rel="bookmark" href="{{ .Permalink }}">>
      {{ .Title }}
      </a>
    </h4>
    {{- with .Params.lead }}
    <p class="list__lead post__lead">{{ . }}</p>
    {{- end }}
    {{- with .Params.description }}
    <p style="padding: 5px 0px 0px 0px" class="content list__excerpt post__content clearfix">{{ . }}</p>
    {{- end }}
  </header>
  {{- if .Site.Params.readmore }}
  {{- if .Truncated }}

  <div class="list__footer clearfix">
    <a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
  </div>

  {{- end }}
  {{- end }}
</article>
